<h1>Input Page</h1>

<form action="/output" method="get">

  <h3>Property Information</h3>
   Name <input type="text" name="name"><br/>
   Address <input type="text" name="address"><br/>
   City, State <input type="text" name="state"><br/>
   Square Feet <input type="number" name="sqft"><br/>
   # of Units <input type="number" name="units"><br/>
   Purchase Price <input type="number" name="purchase_price"><br/>
   Sale Price <input type="number" name="sale_price"><br/>


  <h3>Revenues</h3>
   Rent Income <input type="number" name="rent"><br/>
   Parking <input type="number" name="parking"><br/>
   Storage <input type="number" name="storage"><br/>
   Pet fees <input type="number" name="pet"><br/>
   Laundry <input type="number" name="laundry"><br/>
   Vending <input type="number" name="vending"><br/>

  <h3>Operating Expenses</h3>
   Management_fees <input type="number" name="management_fees"><br/>
   Administrative_fees <input type="number" name="administrative_fees"><br/>
   Payroll_and_benefits <input type="number" name="payroll"><br/>
   Maintanace <input type="number" name="maintenance"><br/>
   Utilities <input type="number" name="utilities"><br/>
   Insurance <input type="number" name="insurance"><br/>
   Real Estate Taxes <input type="number" name="re_taxes"><br/>
   Miscellaneous <input type="number" name="miscellaneous"><br/>

  <h3>Assumptions</h3>
   Revenue Growth Rate <input type="number" name="rev_growth"><br/>
   Opex Growth Rate <input type="number" name="opex_growth"><br/>
   Vacancy <input type="number" name="vacancy"><br/>
   Discount Rate (required rate of return) <input type="number" name="discount_rate"><br/>



<br/>
  <button>Submit</button>



</form>